.container {
  width: 285px;
  height: max-content;
  margin: auto;
  background-color: #008080;
  border: 3px solid rgb(255, 255, 255);
  padding: 20px 15px;
  margin-top: 50px;
  border-radius: 7px;
  font-family: Roboto, sans-serif;
  box-shadow: 10px 11px rgb(0 0 0 / 70%);
}

h1 {
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px #525252
}


body {
  background: linear-gradient(to bottom, #008080, rgb(255 255 255));
    text-align: center;
    min-height: 100vh;
}

.form--field {
  display: inline-block;
  padding: 5px;
  margin-top: 2%;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.form--field2 {
  display: inline-block;
  padding: 5px;
  margin-top: 1%;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.button--login {

    background-color:  rgb(220, 123, 62); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 3px;
    box-shadow: 4px 6px rgb(50, 50, 50);
    font-weight: bold;
    margin-top:20px;
}

.button--login:hover {
  background-color:  rgb(220, 123, 62);
}

.button--login:active {
  background-color:  rgb(220, 123, 62);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.name {
  color: white;
  text-shadow: 2px 2px #525252;
}

.login {
  text-align: center;
}

.registro--link{    
  color: #9adfdf;
  margin-left: 2px;
}   

.text4 {
  text-shadow: 2px 2px #525252 !important;
  color: white;
}