.app--container {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
}
 
.register--container {
    padding: 10px 20px;
    width: max-content;
    height: max-content;
    margin-top: 20px;
    margin-left: 30px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #008080;
    box-shadow: 10px 11px rgb(50, 50, 50);
}
  
.register--title {
    text-align: center;
    margin-bottom: 20px;
    font-family: fantasy;
}
  
.register--input {
    display: block;
    margin: 10px auto;
    padding: 7px 0;
    text-align: center;
}
  
.register--button {
    padding: 2px 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}
  
.info {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #525252
}

.allCards {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.h1 {
text-align: center;
margin-bottom: 10px;
color: white;
text-shadow: 2px 2px #525252;
font-size: 28px;
}

.button--logout {
        background-color: rgb(220, 123, 62); 
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 3px;
        box-shadow: 4px 6px rgb(50, 50, 50);
        font-weight: bold;
        margin-bottom: 6px;

}

.button--logout:hover {
    background-color: rgb(220, 123, 62);
}

.button--logout:active {
    background-color: rgb(220, 123, 62);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button--registerCard {
    background-color: rgb(220, 123, 62);
    border: none;
    color: white;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 3px;
    box-shadow: 4px 6px rgb(50, 50, 50);
    font-weight: bold;
    margin-bottom: 15px;

}

.button--registerCard:hover {
background-color: rgb(220, 123, 62);
}

.button--registerCard:active {
background-color: rgb(220, 123, 62);
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.button--calendar {
    background-color: rgb(220, 123, 62); 
    border: none;
    color: white;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 3px;
    box-shadow: 4px 6px rgb(50, 50, 50);
    font-weight: bold;
    margin-bottom: 15px;
}

.button--calendar:hover {
    background-color: rgb(220, 123, 62);
}
    
.button--calendar:active {
    background-color: rgb(220, 123, 62);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}