.register {
  width: 285px;
  height: max-content;
  margin: auto;
  background-color: #008080;
  border: 3px solid rgb(255, 255, 255);
  padding: 20px 15px;
  margin-top: 50px;
  border-radius: 7px;
  font-family: Roboto, sans-serif;
  box-shadow: 10px 11px rgb(0 0 0 / 70%);
}

h1 {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}
  
  
 
.form--field {
    display: inline-block;
    padding: 5px;
    margin-top: 2%;
    transition: all 0.2s ease-in-out;
    align-content: center;
}

.name {
    font-style: italic;
    color:black;
}  

  
.button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
  }

.registerName {
  text-align: center;
}

.login--link{    
  color: #9adfdf;
  margin-left: 2px;
}   

.text3 {
  text-shadow: 2px 2px #525252 !important;
  color: white !important;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  /* Media query isn't shown here. */
  font-size: var(--mobile-font-size);
  font-weight: 300;
  padding: 0;
  /* Display at the top right of the container */
  position: absolute;
  top: 0;
  right: 0;
}